@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
* {
    font-family: "Pangolin";
}
.mainbody {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.mainbox {
    display: flex;
    flex-direction: column;
    flex: 0 0 320px;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    transition: box-shadow 0.3s ease;
}
.mainbox:hover,
.navbutton:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#image {
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
}
.navigation {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}
.navbutton {
    border: 1px black solid;
    border-radius: 3px;
    min-width: 60px;
    padding: 4px;
    transition: box-shadow 0.3s ease;
}
label {
    font-size: 20px;
}
#bannerimg {
    width: 80vw;
    margin-left: 10%;
    border: 1px solid black;
}
#abouttitile {
    text-align: center;
    text-decoration: underline;
}
.info {
    margin: 2%;
}
#backbutton {
    display: block;
    width: 100px;
    margin: 0 auto;
}
#heart {
    position: relative;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    margin: auto;
    transition: all 300ms;
}
#heart:hover {
    fill: red;
    filter: drop-shadow(0px 2px 3px rgba(255, 0, 0, 0.8));
}
#title {
    height: 40px;
}
.svgbutton {
    background-color: rgb(0, 0, 0, 0);
    border: none;
    display: flex;
    margin: 0 auto;
    width: 60px;
}
