.mainbody {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.mainbox {
    display: flex;
    flex-direction: column;
    flex: 0 0 320px;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    transition: box-shadow 0.3s ease;
}
.mainbox:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#image {
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
}
